@import "tailwindcss";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  --color-primary: #4fc4cf;
  --color-black: #181818;
  --color-white: #fffffe;
  --color-paragraph: #2e2e2e;
  --color-link: #994ff3;
}

@layer base {
  a {
    @apply text-link underline; 
  }
}