@import "tailwindcss";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  --color-primary: #4fc4cf;
  --color-black: #181818;
  --color-white: #fffffe;
  --color-paragraph: #2e2e2e;
  --color-link: #094067;
}

@layer base {
  a {
    @apply text-link underline; 
  }

  .contents {
    h1 {
      @apply text-4xl font-bold mb-4;
    }

    h2 {
      @apply text-3xl font-bold mb-4;
    }

    h3 {
      @apply text-2xl font-bold mb-4;
    }

    h4 {
      @apply text-xl font-bold mb-4;
    }

    h5 {
      @apply text-lg font-bold mb-4;
    }

    h6 {
      @apply text-base font-bold mb-4;
    }

    p {
      @apply text-base/relaxed mb-3;
    }

    blockquote {
      @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-100;

      p {
        @apply mb-0 text-base font-medium leading-relaxed text-gray-800;
      }
    }
  }
}
