---
const currentPath = Astro.url.pathname;
const menus = [
  { path: '/', label: 'About', exact: true },
  { path: '/articles', label: 'Articles', exact: false },
];
const defaultPathClass = 'text-lg font-medium no-underline text-black';
const activePathClass = `${defaultPathClass} font-bold text-primary`;
---
<div class="flex gap-6 items-center">
  <img src="/images/profile.jpg" alt="kentakang profile" class="w-16 h-16 rounded-sm" />
  <p class="text-4xl font-bold">kentakang</p>
</div>
<div class="flex mt-4 mb-8 justify-between items-center">
  <div class="flex gap-4">
    {menus.map((menu) => (
      <a href={menu.path} class={(menu.exact === true ? menu.path === currentPath : currentPath.includes(menu.path)) ? activePathClass : defaultPathClass}>{menu.label}</a>
    ))}
  </div>
  <iframe src="https://github.com/sponsors/kentakang/button" title="Sponsor kentakang" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
</div>