<div class="mt-8">
  <h1 class="text-2xl font-bold">Open Source Contributions</h1>
  <ul class="list-disc list-inside mt-4">
    <li>
      <div class="inline-block align-top">
        <p><a href="https://github.com/react-native-community/cli" target="_blank">@react-native-community/cli</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/react-native-community/cli/pull/1785" target="_blank">
              #1785 fix: when used with option --port and --deviceId not working on run-android
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mt-4">
      <div class="inline-block align-top">
        <p><a href="https://github.com/DefinitelyTyped/DefinitelyTyped" target="_blank">DefinitelyTyped/DefinitelyTyped</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52398" target="_blank">
              #52398 create @types/aws-lambda-fastify
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mt-4">
      <div class="inline-block align-top">
        <p><a href="https://github.com/endel/NativeWebSocket" target="_blank">endel/NativeWebSocket</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/endel/NativeWebSocket/pull/54" target="_blank">
              #54 Fix issues on Unity 2021.2
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mt-4">
      <div class="inline-block align-top">
        <p><a href="https://github.com/peacechen/react-native-modal-selector" target="_blank">peacechen/react-native-modal-selector</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/peacechen/react-native-modal-selector/pull/106" target="_blank">
              #106 Add initValueTextStyle prop
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mt-4">
      <div class="inline-block align-top">
        <p><a href="https://github.com/crossplatformkorea/react-native-naver-login" target="_blank">crossplatformkorea/react-native-naver-login</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/crossplatformkorea/react-native-naver-login/pull/121" target="_blank">
              #121 Naver login android sdk upgrade 5.1.0
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mt-4">
      <div class="inline-block align-top">
        <p><a href="https://github.com/Kai-Z-JP/KaizPatchX" target="_blank">Kai-Z-JP/KaizPatchX</a></p>
        <ul class="list-disc list-inside mt-1">
          <li>
            <a href="https://github.com/Kai-Z-JP/KaizPatchX/pull/442" target="_blank">
              #442 Add texture name on railroad sign gui
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>