---
import { resume } from '../../data/resume';
---

<div class="mt-8">
  <h1 class="text-2xl font-bold">Open Source Contributions</h1>
  <ul class="list-disc pl-5 mt-4 space-y-4">
    {resume.contributions.map((contribution) => (
      <li>
        <div class="block max-w-full lg:max-w-lg break-words">
          <p><a href={contribution.url} target="_blank">{contribution.name}</a></p>
          <ul class="list-disc pl-5 mt-1 space-y-1">
            {contribution.pulls.map((pull) => (
              <li>
                <a href={pull.url} target="_blank">
                  {pull.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </li>
    ))}
  </ul>
</div>
