---
import { resume } from '../../data/resume';
---

<div class="mt-8">
  <h1 class="text-2xl font-bold">Experiences</h1>
  <ul class="list-disc pl-5 mt-4 space-y-4">
    {resume.experiences.map((experience) => (
      <li>
        <div class="block max-w-full lg:max-w-lg break-words">
          <p>{experience.period}</p>
          <p class="mt-1">{experience.role} at {experience.url ? <a target="_blank" href={experience.url}>{experience.organization}</a> : experience.organization}{'suffix' in experience ? experience.suffix : ''}</p>
        </div>
      </li>
    ))}
  </ul>
</div>
