<div class="mt-8">
  <h1 class="text-2xl font-bold">Experiences</h1>
  <ul class="list-disc list-inside mt-4">
    <li>
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p>2021. 02 - present</p>
        <p class="mt-1">Co-Founder and Chief Technology Officer at <a target="_blank" href="https://boundary.team">Investy Co, Ltd.</a></p>
      </div>
    </li>
    <li class="mt-4">
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p>2020. 01 - 2021. 02</p>
        <p class="mt-1">Development Team Leader at DKBrothers.</p>
      </div>
    </li>
    <li class="mt-4">
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p>2018. 12 - 2020. 01</p>
        <p class="mt-1">Backend Developer at DKBrothers.</p>
      </div>
    </li>
    <li class="mt-4">
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p>2017. 03 - 2020. 02</p>
        <p class="mt-1">Studied Computer Network at <a href="https://hanyang.sen.hs.kr/" target="_blank">Hanyang Technical High School</a>.</p>
      </div>
    </li>
  </ul>
</div>