<div>
    <p class="text-base">
        Hello! I'm a software engineer based in Seoul, Korea.
    </p>
    <p class="text-base mt-4">
        I'm interested in frontend development using <a
            target="_blank"
            href="https://reactjs.org">React</a
        > and <a target="_blank" href="https://reactnative.dev">React Native</a
        >.<br />And also backend development using <a
            target="_blank"
            href="https://rust-lang.org">Rust</a
        >, <a target="_blank" href="https://kotlinlang.org">Kotlin</a>.
    </p>
    <p class="text-base mt-4">
        Aside from the technical skills, I'm very interested in the means of
        protecting privacy through cryptography and enjoy reinventing the wheel.
    </p>
    <p class="text-base mt-4">
        You can reach me on <a
            target="_blank"
            href="https://github.com/kentakang">Github</a
        > and <a target="_blank" href="https://www.linkedin.com/in/kentakang"
            >LinkedIn</a
        >, <a target="_blank" href="https://x.com/kentakang_">X</a>. Or email me
        at <a href="mailto:me@kentakang.com">me@kentakang.com</a>.
    </p>
</div>
