---
import { resume } from '../../data/resume';
---

<div class="mt-8">
  <h1 class="text-2xl font-bold">Personal Projects</h1>
  <ul class="list-disc pl-5 mt-4 space-y-4">
    {resume.projects.map((project) => (
      <li>
        <div class="block max-w-full lg:max-w-lg break-words">
          <p><a href={project.url} target="_blank">{project.name}</a></p>
          <p class="mt-1">{project.description}</p>
          <p class="mt-1">{project.role}</p>
        </div>
      </li>
    ))}
  </ul>
</div>
