<div class="mt-8">
  <h1 class="text-2xl font-bold">Personal Projects</h1>
  <ul class="list-disc list-inside mt-4">
    <li>
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p><a href="https://github.com/investycorp/prisma-schema-import" target="_blank">prisma-schema-import</a></p>
        <p class="mt-1">CLI Tool for importing Prisma schema.</p>
        <p class="mt-1">Project Founder and Maintainer</p>
      </div>
    </li>
    <li class="mt-4">
      <div class="max-w-2xs lg:max-w-lg inline-block align-top">
        <p><a href="https://github.com/kentakang/oss-license-check" target="_blank">oss-license-check</a></p>
        <p class="mt-1">CLI Tool for checking OSS licenses.</p>
        <p class="mt-1">Project Founder and Maintainer</p>
      </div>
    </li>
  </ul>
</div>