---
import '../styles/global.css';
import Header from '../components/Header.astro';
const { title } = Astro.props;
const pageTitle = title ? `kentakang.com | ${title}` : 'kentakang.com';
---
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="max-w-3xl mx-auto py-16">
      <Header />
      <slot />
    </div>
  </body>
</html>